cobra 
openpyxl  
requests  
pebble  
xlsxwriter  
Bio   
Require  
quest   
scikit-learn  
RDKit  
seaborn 
pubchempy
ipykernel 
numpy==1.23.4
torch==1.4.0
bioservices==1.10.4
pyprobar
xmltodict
plotly
kaleido
nbformat
sphinx_rtd_theme
